.article {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 208px;
    row-gap: 4px;
}

.image {
    width: 240px;
    height: 120px;
}

.price {
    display: flex;
    column-gap: 9px;
}
