.constructorContainer {
    display: flex;
    flex-direction: column;
}

.ingredientsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 16px;
    min-height: 260px;
    max-height: calc(100vh - 330px);
    box-sizing: border-box;
}

.fillingsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-grow: 1;
    max-height: content-box;
    overflow-y: scroll;
}

.ingredientContainer {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    box-sizing: border-box;
}

.bunContainer {
    padding-left: 28px;
    composes: ingredientContainer;
    padding-right: 20px;
}

.checkout {
    display: flex;
    align-self: flex-end;
    margin: 30px 0 50px;
    align-items: center;
}

.fillingPlaceholder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #2f2f37;
}

.fillingPlaceholderTop {
    composes: fillingPlaceholder;
    border-radius: 88px 88px 40px 40px;
}

.fillingPlaceholderBottom {
    composes: fillingPlaceholder;
    border-radius: 40px 40px 88px 88px;
}

.fillingPlaceholderMiddle {
    composes: fillingPlaceholder;
    width: 95%;
    border-radius: 40px;
}