.main {
    display: grid;
    grid-template-columns: 1fr 480px 1fr;
    margin: 180px auto 0;
    width: 1260px;
    padding: 0 10px;
    column-gap: 60px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 10px;
    align-self: end;
}
