.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 40px;
    width: 1260px;
    padding: 0 10px;
    margin: auto;
}

.title {
    grid-column: 1 / span 2;
}