.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 60px;
    width: 1260px;
    padding: 0 10px;
    margin: auto;
}

.title {
    grid-column: 1 / span 2;
}

.feed {
    max-height: calc(100vh - 190px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.info {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.statuses {
    display: flex;
    column-gap: 36px;
}

.status {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.statusName {
    margin: 0 0 24px 0;
}

.sectionHeader {
    margin: 0;
}

.sectionValue {
    margin: 0;
}