ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.text-link {
    text-decoration: none;
    color: #4C4CFF;
    transition: color .3s ease-in;
}

.text-link:hover {
    color: white;
}

.menu-link_active {
    transition: color .3s ease-in;
    color: white;
}

.menu-link_inactive {
    color: #8585AD;
    transition: color .3s ease-in;
}

.menu-link_inactive:hover {
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
    height: 80%;
}

::-webkit-scrollbar-track {
    background: #2F2F37;
}

::-webkit-scrollbar-thumb {
    background: #8585AD;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}